version: '2.1'
services:
  apache:
    image: wordpress:${WORDPRESS_VERSION:-5}-apache
    ports:
      - 8080:80
    environment: &wordpress_environemt
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wp_user
      WORDPRESS_DB_PASSWORD: password
    working_dir: /var/www/html
    volumes:
      - ./public:/var/www/html
    depends_on:
      - mysql

  nginx:
    image: nginx:latest
    ports:
      - 8081:80
    volumes:
      - ./nginx-site.conf:/etc/nginx/conf.d/default.conf
      - ./nginx-include.d:/etc/nginx/include.d
      - ./public:/var/www/html

  wordpress-fpm:
    image: wordpress:${WORDPRESS_VERSION:-5}-fpm
    environment: *wordpress_environemt
    working_dir: /var/www/html
    volumes:
      - ./public:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: password
    volumes:
      - db:/var/lib/mysql

  wp_cli:
    image: wordpress:cli
    volumes:
      - ./public:/var/www/html
      - ./php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - mysql
      - smtp

  smtp:
    extends:
      file: ../common/docker-services.yml
      service: mail-catcher

  ngrok:
    environment:
      - "NGROK_PORT=nginx:80"
    extends:
      file: ../common/docker-services.yml
      service: ngrok
    depends_on:
      - apache
      - nginx

volumes:
  db:
